{% extends 'games/base.html' %}

{% load static %}

{% block headTitle %}Player update{% endblock headTitle %}

{% block css %}

{% static 'games/css/player-detail.css' %}

{% endblock css %}

{% block titreCadre %}Mise à jour de votre profil{% endblock titreCadre %}

{% block content %}

<div class="container col-md-8 encadreTitre">
    <div >Bonjour, {{ user.get_username }}</div>
</div>

<div class="container blocContenu">  
    <form method="post"   enctype="multipart/form-data">
        {% csrf_token %}
        <div class="row">
            <div  class="col-lg-6">
                <div class="row mt-2">
                    <div class="col-lg-4">
                        <label for="name"> Nom : </label>        
                    </div>
                    {{ user_form.last_name }}  
                    </div>
                <div class="row mt-2">
                    <div class="col-lg-4">
                        <label for="Firstname"> Prénom : </label>        
                    </div>
                    {{ user_form.first_name }}     
                </div>
                <div class="row mt-2">
                    <div class="col-lg-4">
                        <label for="email"> Adresse Email : </label>        
                    </div>
                    {{ user_form.email }}
                </div>
                <div class="row mt-2">
                    <div class="col-lg-4">
                        <label for="datenaissance"> Date de Naissance : </label>        
                    </div>

                    {% if user.player.dateNaissance %}
                    {{ user.player.dateNaissance }} 
                    {% else %}
                    {{ player_form.dateNaissance }}   
                    {% endif %}
                </div>
                <div class="row mt-2">
                <input class='btn btn-success' type= "submit" value = "Valider" />
                </div>
            </div>
            <div  class="col-lg-6">
                <H2>Avatar : </H2>
                <div >
                    {% if user.player.avatar %}
                    <img  class="img-thumbnail" src="../{{ user.player.avatar.url }}">
                    {{ user.player.avatar }}
                    {% else %}
                    <img class="img-thumbnail" src="https://ssl.gstatic.com/accounts/ui/avatar_2x.png">
                {% endif %}
                </div>
                <div class="row">
                    <div  class="col-lg-6">   
                        {{ player_form.avatar }}
                    </div>
                    <div  class="col-lg-6">
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock content %}