<h1>Player Update</h1>
<form method="post"   enctype="multipart/form-data">
    {% csrf_token %}
    <div class="container col-md-8" id="logoutBox">
        <div >Bonjour, {{ user.get_username }}</div>
    </div>
    {{ player_form.dateNaissance.label }}
    {{ player_form.dateNaissance }}
    {{ player_form.avatar.label }}
    {{ player_form.avatar }}

    {{ user_form.first_name.label }}
    {{ user_form.first_name }}
    {{ user_form.last_name.label }}
    {{ user_form.last_name }}
    {{ user_form.email.label }}
    {{ user_form.email }}
    <input type= "submit" value = "Submit" />
</form>