{% extends 'games/base.html' %}

{% load static %}

{% block headTitle %}Player Detail{% endblock headTitle %}

{% block css %}

{% static 'games/css/player-detail.css' %}

{% endblock css %}

{% block titreCadre %}Votre profil{% endblock titreCadre %}

{% block content %}

<div class="container col-md-8 encadreTitre">
    <div >Bonjour, {{ user.get_username }}</div>
</div>

<div class="container blocContenu">                              
    <div class="row">
        <div  class="col-lg-6">
            <div class="row mb-3">
            </div>
            <div class="row  mt-2">
                <div class="col-lg-3">
                    <label for="name"> Nom : </label>        
                </div>
                <div class="col-lg-9">
                    {{ user.last_name }}
                </div>    
            </div>
                <div class="row mt-2">
                    <div class="col-lg-3">
                        <label for="Firstname"> Prénom : </label>        
                    </div>
                    <div class="col-lg-9">
                        <label for="Firstname">  
                            {{ user.first_name }}
                        </label>
                    </div>    
                </div>
                <div class="row mt-2">
                    <div class="col-lg-3">
                        <label for="email"> Adresse Email : </label>        
                    </div>
                    <div class="col-lg-9">
                        <label for="email">  
                            {{ user.email }}
                        </label>
                    </div>    
                </div>
                <div class="row mt-2">
                    <div class="col-lg-3">
                        <label for="datenaissance"> Date de Naissance : </label>        
                    </div>
                    <div class="col-lg-9">
                        <label for="datenaissance">  
                            {{ user.player.dateNaissance }}
                        </label>
                    </div>    
                </div>
                <div class="row mt-2">
                    <div class="col-lg-3">
                        <label for="pseudo"> Pseudo : </label>        
                    </div>
                    <div class="col-lg-9">
                        <label for="pseudo">  
                            {{ user.username }}
                        </label>
                    </div>    
                </div>
            </div>
            <div  class="col-lg-6">
                <H2>Avatar : </H2>
                <div >
                    {% if user.player.avatar %}
                    <img  class="img-thumbnail avatar" src="../{{ user.player.avatar.url }}">
                    {% else %}
                    <img class="img-thumbnail avatar" src="https://ssl.gstatic.com/accounts/ui/avatar_2x.png">
                    {% endif %}
                </div>
            </div>
    </div>
    <div class="row  mt-2">
        <div  class="col-lg-6">
                <div class="control-group">
                        <div class="row">
                            <div  class="col-lg-4"></div>
                            <div  class="col-lg-4">
                                <a href='{% url "games:player-update" %}'><button class="btn btn-primary" >Modifier</button></a>
                            </div>
                            <div  class="col-lg-4">
                                <a href='{% url "games:logout" %}'><button class="btn btn-danger" >Déconnexion</button></a>
                            </div>
                        </div>
                </div>
        </div>
        <div class="col-lg-6">
        </div> 
    </div> 
</div>

{% endblock content %}

