{% extends "games/base.html" %}

{% load static %}

{% block headTitle %}{% endblock headTitle %}

{% block css %}{% endblock css %}

{% block titreCadre %}test{% endblock titreCadre %}

{% block content %}


<div class="container blocContenu" >
    <form  method="post">
        {% csrf_token %}
        {{ form.username.label }}
        {{ form.username }}
        {{ form.password1.label }}
        {{ form.password1 }}
        {{ form.password2.label }}
        {{ form.password2 }}
        <div class="controls">
            <button type="submit" class="btn">s'inscrire</button>
        </div>
    </form>
</div>

{% endblock content %}

