{% extends "games/base.html" %}

{% load static %}

{% block headTitle %}{% endblock headTitle %}

{% block css %}{% endblock css %}

{% block titreCadre %}Inscription{% endblock titreCadre %}

{% block content %}


<div class="container blocContenu">
    <div class="container-fluid">
        <div class="row mb-5"></div>

        <div class="row">
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4"></div>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 border border-primary rounded p-5" >
                <form method="post">
                    {% csrf_token %}
                    {{ user_form.as_p }}
                    {{ player_form.as_p }}
                    {{ player_form.avatar }}
                </form>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4"></div>
        </div>

        <div class="row"></div>
    </div>
</div>

{% endblock content %}

